.inner_wrapper.ticker{
  z-index: 40;
  position: relative;
  .block{
    z-index: 40;
    position: relative;
    text-align: center;

  }
}
footer {
  position: relative;
  background: $brand-one;
  @media only screen and (min-width: 750px) {
    height: 10vh;
  }

  .inner_wrapper.footer-nav {
    text-align: center;
    .block {
      padding: 0.2rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
    nav.block {
      @media only screen and (min-width: 750px) {
        height: 5vh;
      }
      ul {
        z-index: 3;
      }
    }
    .block.copy {
      @media only screen and (min-width: 750px) {
        height: 5vh;
      }
      flex-direction: column;
      z-index: 1;
    }
  }
  .inner_wrapper.acred {
    background-color: $brand-one;
    width: 100%;
    height: 120%;
    display: inline-flex;
    justify-content: space-between;
    top: 0;
    .block {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      &.payment {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .methods-wrap {
          width: 100%;
          display: inline-flex;
          justify-content: space-between;
          padding: 0.5rem;

          .methods {
            padding: 10px;
            text-align: center;
            img {
              max-width: 50px;
              width: 30%;
              display: inline-block;
            }
            &~img{
              max-width: 150px;
            }
          }
          .sixteen{

          }
        }
        .gamble{
          max-width: 300px;
          width: auto;
          padding: 0.5rem 1rem;

          img {
            max-width:264px;
          }
        }
      }
      &.social {
        justify-content: flex-end;
        padding-right: 1rem;
        button {
          background: $brand-one;
          padding: 0.5rem;
          border-radius: 60%;
          cursor: pointer;

          &:before {
            color: $white;
          }
        }
      }
    }
    @media only screen and (min-width: 1200px) {
      position: absolute;
    }
  }
}

.footer-nav {
  nav.block {
    width: 100%;
    ul {
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
        a {
          color: $white;
          font-size: $header-size / 3;
          padding-right: 0.5rem;
          text-decoration: underline;
          &:after {
            content: '|';
            padding-left: 0.5rem;
          }

        }
        &:nth-last-child(1) {
          a {
            &:after {
              content: " ";
            }
          }
        }
      }
    }
  }
  .block.copy {
    width: 100%;
    z-index: 1;
    position: relative;
    h6 {
      margin: 0;
      color: $white;
    }
  }
}
