.block.hero {
  width: 60%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  flex: 1 1 60%;
  background-blend-mode: multiply;
  @media only screen and (min-width: 1000px) {
    min-width: 600px;
  }
  @media only screen and (max-width: 1000px) {
    width: 100%;
  }
  @media only screen and (max-width: 600px) {
    text-align: right;
  }

  .slider {
    width: 100%;
    height: 100%;
    .slick-list, .slick-track {
      height: 100%;
      .slick-slide{
        &>div{
          height: 100%;
        }
      }
    }
    .inner_slide {
      padding: 2rem 6rem 2rem 2rem;
      @media only screen and (max-width: 600px) {
        padding: 1rem;
      }
      height: 100%;
      display: inline-flex!important;
      justify-content: flex-start;
      align-items: flex-end;
      * {
        width: 100%;
        color: $white;
      }
      h1 {
        margin-bottom: 0;

      }
      h4 {
        margin-bottom: 0;
        text-transform: inherit;
      }
    }
  }
  .title-wrap{
    background-color: rgba($brand-two,0.9);
    position: relative;
    padding: 1rem 0 1rem 1rem;
    max-width: 75%;
    &:after{
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 116 357'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%230081cb;opacity:0.9;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eangle%3C/title%3E%3Cpolygon class='cls-1' points='0 178.5 0 0 58 89.25 116 178.5 58 267.75 0 357 0 178.5'/%3E%3C/svg%3E");
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      right: -99.9%;
      background-repeat: no-repeat;
      background-position: 0%;
      pointer-events: none;
      @media only screen and (max-width: 600px) {
        display: none;
      }
    }
  }
}
